@font-face {
	font-family: "Klavika Medium Plain";
	src: url(../font/Klavika Medium Plain.otf)format("opentype");
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-size: 16px;
}
header, nav, section, main, article, aside, footer {
    display: block;
}
body {
	margin: 0 auto;
    height: 100%;
    width: 100%;
    background: #efeadf;
    font-family: Klavika Medium Plain, Arial;
    color: rgb(63, 59, 48);
}
.maxw {
    margin: 0 auto;
    min-width: 320px;
    max-width: 950px;
}
header {
    min-width: 320px;
    width: 100%;
    min-height: 150px;
    /*max-height: auto;*/
    margin-bottom: 20px;
}
header .maxw {
	height: auto;
}
.logo {
	margin-top: 35px;
	width: 240px;
	height: 70px;
	float: left;
}
.logo h1 {
	text-transform: uppercase;
	margin-top: -25%;
	margin-left: 12%;
}
.logo h5 {
	margin-left: 13%;
	font-family: "Myriad Pro";
	color: rgb(133, 134, 137);
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.75);
	font-weight: normal;
}
.contact {
	margin-top: 25px;
	float: right;
	text-align: right;
}
.contact p {
	font-size: 0.75rem;
	color: rgb(88, 87, 85);
}
.contact > a {
	font-size: 1.25rem;
	color: rgb(55, 55, 55);
	line-height: 1.5;
	text-decoration: none;
}
.contact nav {
	margin-top: 10px;
	margin-bottom: 20px;
}
.contact li {
	list-style: none;
	display: inline;
	font-size: 0rem;
	margin-right: 7px;
}
.contact li:last-child {
	margin-right: 0rem;
}
.contact li > a {
	font-size: 0.75rem;
	color: rgb(32, 154, 40);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
	text-decoration: none;
}
.clearfix {
    clear: both;
}
.nav {
	margin-top: 20px;
}
.nav ul {
	margin: 0;
	padding: 0;
	min-height: 35px;
	/*max-height: auto;*/
	box-shadow: -1px -1px 0px #0c932f;
	background: #10951b;
    background: linear-gradient(to top, #10951b, #60be3b);
	border-radius: 5px;
}
.nav li {
	margin: 0;
	padding: 10px 0px;
	list-style: none;
	display: inline-block;
}
.nav a {
	text-decoration: none;
	font-size: 15px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
	padding: 5px 16px;
	font-weight: normal;
	line-height: 100%;
}
.nav a:hover {
	color: #000;
	text-shadow: none;
}
.nav .current {
	display: none;
	color: white;
	padding-left: 15px;
}
.current:hover a {
	text-shadow: none;
	color: white;
}
.shadow-icon {
  position: relative;
}
.shadow-icon:after {
  content: "";
  position: absolute;
  left: 195px;
  top: -21px;
  height: 30px;
  width: 30px;
  box-shadow: 0 2px 0 white, 0 11px 0 #4fb534, 0 13px 0 white, 0 23px 0 #37a92b, 0 25px 0 white;
}
#wrapper {
    position: relative;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
	padding-bottom: 350px;
}
.main_wrap {
	height: auto;
	border: 1px solid white;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #f4f2ec;
}
.main_wrap main {
	left: 0;
	margin-right: 250px;
	background: #ffffff;
	padding: 25px;
	border-right: 1px solid #e8e3da;
}
.main_wrap aside {
	width: 250px;
	float: right;
	background-color: #f4f2ec;
}
.carusel_img {
	width: 100%;
	height: 289px;
	border-radius: 10px;
	overflow: hidden;
}
.carusel_discription {
	width: 245px;
	height: 289px;
	background: #29231b;
	opacity: 0.9;
	border-radius: 0px 10px 10px 0px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.carusel {
	position: relative;
}
.carusel_discription {
position: absolute;
top: 0;
right: 0;
z-index: 5;
}
.carusel_discription p:first-child {
	color: white;
	font-size: 1.375rem;
	line-height: 1.5;
}
.carusel_discription h2 {
	color: #28b028;
	font-weight: normal;
	line-height: 1;
	font-size: 1.875rem;
}
.carusel_discription p:nth-child(3) {
	color: white;
	font-size: 0.81rem;
	margin-top: 10px;
	line-height: 1.4;
}
.carusel_discription p:nth-child(3) > span {
	color: #28b028;
}
.carusel_discription ul {
	margin-top: 15px;
	width: 150px;
}
.carusel_discription li {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	margin-right: 5px;
	border: 1px inset #bbbbba;
	border-radius: 50%;
	background: #6b685e;
}
.carusel_discription li span {
	color: #bbbbba;
	line-height: 1.5;
	font-size: 0.75rem;
	display: block;
}
.carusel_discription li:hover {
	background: linear-gradient(to top, #10951b, #60be3b);
	width: 20px;
	height: 20px;
	transform: scale(1.2);
	border: none;
}
.name {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	min-height: 100px;
	max-height: 100%;
}
.rightimg {
	float: right;
	display: block;
	padding-left: 40px;
	position: relative;
}
.name h2 {
	font-size: 1.375rem;
	color: rgb(68, 65, 55);
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: normal;
}
.name p {
	font-size: 0.75rem;
	color: rgb(89, 84, 71);
	line-height: 1.667;
}
.name p a {
	color: #28b028;
}
section nav {
	margin-bottom: 10px;
	margin-top: 58px;
}
section .by {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
	border: 1px solid #cfcdc5;
	border-radius: 5px;
	background: linear-gradient(to top, #f4f3f1, #ffffff);
	font-size: 0px;
	overflow: hidden;
}
section .by li {
	display: inline-block;
	border-right: 1px solid #cfcdc5;
	font-size: 16px;
	list-style: none;
	height: 30px;
	width: 33%;
	text-align: center;
}
section .by li:last-child {
	border-right: none;
	width: 33.5%;
}
section .by a {
	text-decoration: none;
	font-size: 1.125rem;
	color: rgb(68, 65, 55);
	line-height: 1.6;
}
section .by li:hover {
	background: linear-gradient(to top, #10951b, #60be3b);
	box-shadow: -1px -1px 0px #0c932f;
}
section .by li:hover a {
	color: rgb(255, 255, 255);
	text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
}
section .by a:before {
	content: "";
	background: url(../img/Shape-11.png)no-repeat top right; 
	display: inline-block;
 	width: 10px;
 	height: 9px;
 	margin-right: 5px;
}
.types {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin-top: 25px;
}
.types > div {
	height: 246px;
	width: 200px;
}
.types h5 {
	font-size: 0.857rem;
	color: rgb(58, 55, 49);
	line-height: 2.3;
}
.types p {
	font-size: 0.75rem;
	color: rgb(58, 55, 49);
	line-height: 1.5;
}
.img {
	width: 100%;
	height: 115px;
	border: 3px solid #e9e6df;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.number1, .number2, .number3, .number4, .number5, .number6 {
	background-repeat: no-repeat;
}
.number1 {
	background-image: url(../img/png1.png);
	background-position: 85% 40%;
}
.number2 {
	background-image: url(../img/png2.png);
	background-position: 25% 60%;
}
.number3 {
	background-image: url(../img/png3.png);
	background-position: 25% 95%;
}
.number4 {
	background-image: url(../img/png4.png);
	background-position: 25% 25%;
}
.number5 {
	background-image: url(../img/png5.png);
	background-position: 25% 62%;
}
.number6 {
	background-image: url(../img/png6.png);
	background-position: 15% 85%;
}
aside > div {
	border-bottom: 1px solid #e1dbce;
	padding: 25px;
	padding-bottom: 17px;
}
aside > div:last-child {
	border-bottom: none;
}
aside h4 {
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 10px;
}
aside p {
	font-size: 0.75rem;
	line-height: 1.5;
	margin-bottom: 10px;
}
aside div:first-child p:nth-of-type(1) {
	color: rgb(233, 230, 223);
}
select, input {
	width: 100%;
	border: 3px solid #e9e6df;
	border-radius: 8px;
	background: linear-gradient(to top, #f4f3f1, #ffffff);
	padding: 3px;
	margin-bottom: 10px;
	outline: none;
}
/*select > option {
	border: 3px solid #e9e6df;
	border-radius: 8px;
	background: linear-gradient(to top, #f4f3f1, #ffffff);
	padding: 3px;
	outline: none;
}*/
input {
	width: 93%;
}
input[value], option, select {
	color: #666666;
}
input[type="submit"] {
	height: 30px;
	width: 36%;
	font-size: 0.75rem;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
	background: linear-gradient(to top, #10951b, #60be3b);
}
.button {
	border: 3px solid #e9e6df;
	border-radius: 8px;
	overflow: hidden;
	height: 35px;
}
aside a {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	font-size: 0.8rem;
	margin-bottom: 8px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 2.2;
	padding: 5px;
	text-align: left;
	padding-left: 10px;
	text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
	box-shadow: -1px -1px 0px #0c932f;
	background: linear-gradient(to top, #10951b, #60be3b);
}
aside div+img {
	position: relative;
	top: -28px;
	right: -150px;
}
aside > div:nth-of-type(1) input:nth-of-type(1) {
	width: 55%;
}
aside > div:nth-of-type(2) input:nth-of-type(2) {
	width: 55%;
}
.footer_wrap {
	border-radius: 5px;
	overflow: hidden;
	background: #f4f2ec;
	padding-bottom: 25px;
}
.footer_header {
	width: 100%;
	min-width: 292px;
	min-height: 40px;
	/*max-height: auto;*/
	background: linear-gradient(to top, #635543, #948f83);
}
.footer_header h4 {
	font-weight: normal;
	line-height: 2.2;
	text-align: center;
	font-size: 16px;
	color: rgb(255, 255, 255);
	font-style: italic;
	text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.75);
}
.footer_main {
	width: 100%;
 	margin: 0 auto;
 	padding: 25px;
}
.center, .left, .right {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 25px;
}
.center {
	border-right: 1px solid #d8d6ce;
	border-left: 1px solid #d8d6ce;
	padding-left: 25px;
}
.right {
	padding-left: 25px;
}


.footer_main h4 {
	font-size: 0.87rem;
	color: rgb(100, 82, 42);
	text-transform: uppercase;
	line-height: 1.286;
	margin-bottom: 10px;
}	
.footer_main > div a, p, li {
	font-size: 0.75rem;
	color: rgb(117, 114, 104);
	line-height: 1.667;
	text-decoration: none;
	list-style: none;
}
.footer_main > div p {
	font-size: 0.75rem;
	color: rgb(117, 114, 104);
	line-height: 1.667;
}
.center ul {
	float: left;
	padding-right: 30px;
}
.center ul:last-child {
	padding-right: 0;
}
.left a {
	display: block;
	margin-top: 10px;
}
.right p {
	margin: 20px 0px 10px 0px;
}
.footer_footer {
	text-align: center;
	line-height: 1.636;
	margin-top: 20px;
}
.footer_footer h6, p {
	font-size: 0.68rem;
	color: rgb(58, 55, 49);
}
.wrapper {
	margin-top: -350px;
}







@media only screen and (min-width: 1200px) {
	.footer_main {
		width: 1140px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 918px) {
	.footer_main, .center, .left, .right {
		position: relative;
		width: 900px;
		margin: 0 auto;
	}
	.center, .left, .right {
		top: 0;
	}
	.right {
		right: 0;
		width: 20%;
		float: left;
	}
	.left {
		left: -55%; 
		width: 25%;
		float: left;
	}
	.center {
		left: 25%;
		width: 55%;
		float: left; 
	}
}

@media only screen and (max-width: 917px){
	
	.right {
		width: 245px;
		border-top: 1px solid #d8d6ce;
		padding-top: 25px;
	}
	.left {
		width: 245px;
		border-top: 1px solid #d8d6ce;
		padding-top: 25px;
	}
	.center {
		position: relative;
		top: 0;
		left: 0;
		margin-left: -25px;
		border: none;
	}
}

@media screen and (max-width:720px) {
	.carusel {
		display: none;
	}
	aside {
		display: none;
	}
	main {
		margin-right: 0;
		width: 93%;
	}
}
@media only screen and (max-width: 506px){
	.right {
		width: 100%;
		padding-left: 0px;
	}
	.left {
		width: 100%;
	}
	.center {
		position: relative;
		top: 0;
		left: 0;
	}
	.types > div {
		height: auto;
	}
}
@media only screen and (max-width:581px) {
	.contact {
		margin-top: 20px;
		margin-left: 33px;
		float: left;
		text-align: left;
		width: 70%;
	}
	.contact nav {
		display: none;
	}
	.nav {
		position: relative;
	}	
	.nav ul {
		position: absolute;
		top: -173px;
		right: 2px;
		width: 240px;
		padding: 0;
		background: #10951b;
		z-index: 50;
	}
	.nav li {
		display: none; 
		margin: 0;
		box-shadow: -1px -1px 0px #0c932f;
		background: #10951b;
		background: linear-gradient(to top, #10951b, #60be3b);
		border-radius: 5px;
	}
	.nav .current {
		display: block; 
		box-shadow: -1px -1px 0px #0c932f;
		background: #10951b;
		background: linear-gradient(to top, #10951b, #60be3b);
		border-radius: 5px;
	}
	.nav a {
		display: block;
		padding: 5px 5px 5px 15px;
		text-align: left;
	}
	.nav .current a {
		padding-left: 0;
	}
	.nav ul:hover li {
		display: block;
	}
}
@media only screen and (max-width: 465px){
	.by {
		margin: 0;
		padding: 0;
		border: none;
		width: 200px;
		height: 100px;
		overflow: visible !important;
	}
	.by li {
		display: block;
		margin-bottom: 1px;
		height: 30px;
		width: 100%;
		text-align: left;
		border-radius: 5px;
		border: 1px solid #cfcdc5;
		background: linear-gradient(to top, #f4f3f1, #ffffff);
	}
	.by li:last-child {
		border-right: 1px solid #cfcdc5;
	}
	.by a {
		padding-left: 10px;
	}
}


